.navbar-custom{
    background-color: #5a67a5;
    color: white;
}
.navbar-custom a{
    color: white !important;
}
.navbar-nav > li > a{
    background-color: transparent;
}
.navbar-nav > li > a:hover{
    background-color: transparent;
}
a{
    color: #5a67a5 !important;
}
#getting-started img{
    margin: 0px auto 10px;
}
.page-header:before{
    border-top: 3px solid #5a67a5;
}
.ndoboost-sidebar .nav > .active > a, .ndoboost-sidebar .nav > .active:hover > a, .ndoboost-sidebar .nav > .active:focus > a{
    color: #5a67a5;
}
.ndoboost-sidebar .nav > .active > a:after, .ndoboost-sidebar .nav > .active:hover > a:after, .ndoboost-sidebar .nav > .active:focus > a:after{
    border-right: 3px solid #5a67a5;
}
.table-theme.table-bordered{
    border: 1px solid #5a67a5;
}
.table-theme thead tr th{
    background-color: #5a67a5 !important;
    border-color: #5a67a5 #6b78b8 #7d8acd !important;
    color: #FFF;
}
.snippet-menu a{
    color: white !important;
}
.chosen-container .chosen-search input{
    border: 1px solid #5a67a5 !important;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #5a67a5 !important;
    background-image: none !important;
}
.pagination > .active > a, .pagination > .active > span {
    background-color: #5a67a5 !important;
    border: 1px solid #5a67a5 !important;
    color: white !important;
}
.dl-horizontal.plugins dt{
    width: 70px;
}
.dl-horizontal.plugins dd{
    margin-left: 80px;
}
